.document{
    background-color: #bfd5dbab;

    h1{
        color: #2f2e41;
        font-size: 50px;font-weight: bold;

    }
    p{
        color: #2f2e41;
        font-size:16px;
    }

    #view{
        background-color: #2f2e41;
        border:2px solid #2f2e41;
        
    }
}