.about{
    width:100%;
    height:auto;
  margin-top:100px;
  margin-bottom:100px;
  display: flex;
  justify-content: center;
  align-items: center;
  h3{
      color: #FF6600;
  }
  
  h1{
      color: #44425a;
      font-weight:600;
  }


img{
    width:445px;
    height:445px;
  
}

#more{
    background-color:#FF6600;
}
}


