header{
    #home{
        color:#ff6600;
    }
    #logo{
        width:300px;
        height:70px;
        display:flex;
        justify-content: center;
        align-items: center;
        color: #ff6600;
        background-color:#f2f1f8;
    }
    #join{
        background-color: #ff6600;
    }
}